.cart {
  max-width: 30rem;
  background-color: #313131;
  color: white;
  margin: 1rem auto;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn button {
  margin-right: 0.5rem;
}

.order button {
  background-color: white;
  color: black;
}

.order button:hover,
.order button:active {
  background-color: crimson;
  border-color: white;
  color: white;
}
