.products h2 {
    font-size: 2rem;
    color: white;
    margin: 2rem auto;
    text-align: center;
  }

.products div {
    margin: 0 auto;
    padding: 0;
    max-width: 40.125rem;
}

.productsLoading {
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.productsError {
  text-align: center;
  color: red;
  margin-top: 1rem;
}