body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color:#3f3f3f;
  color:aliceblue;
  border: 1px solid black;
}

button:hover,
button:active {
  background-color:cadetblue;
  border-color: white;
  color: white;
}